@using Battleships.Models
@{
    ViewData["Title"] = "Game";
}
<div class="text-center">
    <h1 class="display-4">Welcome To BattleShips</h1>
    <button class="battleship-UI" onclick="reload()">Start New Game</button>
</div>


<table class="battleship-grid">
    <tr>
        <td></td>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
        <td>H</td>
        <td>I</td>
        <td>J</td>
    </tr>
    @{
        int x = 1;
        foreach (int[] row in @Model.GetBoard())
        {
            int y = 1;                   
            @:<tr class="row-@x">
    @:<td>@x</td>
    foreach (int cell in row)
    {
        if (cell != 0)
        {
            @:<td class="row-@x col-@y ship ship-type-@cell" bgcolor="lightblue"></td>
            //@:<td class="row-@x col-@y ship ship-type-@cell" bgcolor="orange"></td>
        }
        else
        {
            @:<td class="row-@x col-@y" bgcolor="lightblue"></td>
        }
        y++;
    }
@:</tr>
            x++;
        }
    }
</table>

<div class="text-center battleship-UI">
    <input class="battleship-UI" type="text" id="text-input" placeholder="Enter coordinates here"></input>
    <button class="battleship-UI fire" onclick="fire()">Fire</button>
</div>
<p class="ship-indicator" id="1">HMS Elizabeth:
    <span class="ship-status"> OK </span>
</p>
<p class="ship-indicator" id="2">HMS Duncan:
    <span class="ship-status"> OK </span>
</p>
<p class="ship-indicator" id="3">HMS Defender:
    <span class="ship-status"> OK </span>
</p>

<div class="popupmodal" id="hit">
    <div class="modal-content">
        <h1>HIT!</h1>
    </div>
</div>
<div class="popupmodal" id="miss">
    <div class="modal-content">
        <h1>MISS!</h1>
    </div>
</div>
<div class="popupmodal" id="win">
    <div class="modal-content">        
        <h1>YOU WIN!</h1>
    </div>
</div>